.tochat-settings-form .form-table th {
  width: 200px !important;
  padding: 20px 10px 20px 0 !important;
}

.tochat-add-widget-by-posts-table th,
.tochat-add-widget-by-urls-table th {
  opacity: 0.8;
  padding: 0;
}
.tochat-add-widget-by-posts-table td,
.tochat-add-widget-by-urls-table td {
  padding: 10px 0;
  vertical-align: top;
}

.tochat-button-danger {
  background-color: #d63638 !important;
  border-color: #d63638 !important;
  color: #fff !important;
}

.tochat-analytics {
  font-size: 1rem;
  margin-top: 2em;
}
.tochat-analytics__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  gap: 1em;
  list-style: none;
}
.tochat-analytics__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  margin: 0;
  padding: 1.2em 0.8em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.8em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.08);
}
.tochat-analytics__count {
  display: block;
  font-size: 1.8em;
  line-height: 1;
  font-weight: 700;
}
.tochat-analytics__label {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1;
}